<div class="advantages">
  <div class="container">
    <div class="advantages__content">
      <div class="advantages__slider swiper">
        <ul class="advantages__list swiper-wrapper">
          <li class="advantages-item advantages-item--delivery swiper-slide">
            <span class="advantages-item__title">Доставка и самовывоз</span>
            <p class="advantages-item__text">
              Бережная доставка в удобное время
            </p>
            <a class="advantages-item__link" href="#"></a>
          </li>
          <li class="advantages-item advantages-item--guarantee swiper-slide">
            <span class="advantages-item__title">Гарантия качества</span>
            <p class="advantages-item__text">
              Соответствуем требованиям и стандартам качества
            </p>
            <a class="advantages-item__link" href="#"></a>
          </li>
          <li class="advantages-item advantages-item--range swiper-slide">
            <span class="advantages-item__title">Большой ассортимент</span>
            <p class="advantages-item__text">
              строительных материалов всегда в наличии
            </p>
            <a class="advantages-item__link" href="#"></a>
          </li>
          <li class="advantages-item advantages-item--prices swiper-slide">
            <span class="advantages-item__title">Доступные цены</span>
            <p class="advantages-item__text">
              Работаем напрямую с ведущими производителями
            </p>
            <a class="advantages-item__link" href="#"></a>
          </li>
          <li class="advantages-item advantages-item--rent swiper-slide">
            <span class="advantages-item__title">Аренда инструмента</span>
            <p class="advantages-item__text">По выгодным условиям</p>
            <a class="advantages-item__link" href="#"></a>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
