<div class="banners">
  <div class="container-fluid">
    <div class="banners__slider swiper">
      <ul class="banners__slides swiper-wrapper">
        <li class="banners__slide swiper-slide">
          <div
            class="banners-card"
            style="background-image: url(img/banners/1.jpg)"
          >
            <div class="banners-card__inner">
              <span class="banners-card__text">Акция</span>
              <a class="banners-card__name" href="#">
                Скидка на все дрели до конца осени
              </a>
              <span class="banners-card__text">С 1 сентября до 30 ноября</span>
            </div>
          </div>
        </li>
        <li class="banners__slide swiper-slide">
          <div
            class="banners-card"
            style="background-image: url(img/banners/2.jpg)"
          >
            <div class="banners-card__inner">
              <span class="banners-card__text">Акция</span>
              <a class="banners-card__name" href="#">
                Скидка на все дрели до конца осени
              </a>
              <span class="banners-card__text">С 1 сентября до 30 ноября</span>
            </div>
          </div>
        </li>
        <li class="banners__slide swiper-slide">
          <div
            class="banners-card"
            style="background-image: url(img/banners/3.jpg)"
          >
            <div class="banners-card__inner">
              <span class="banners-card__text">Акция</span>
              <a class="banners-card__name" href="#">
                Скидка на все дрели до конца осени
              </a>
              <span class="banners-card__text">С 1 сентября до 30 ноября</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
