<section class="bonus">
  <div class="container">
    <div class="bonus__wrapper">
      <div class="bonus__left">
        <div class="bonus__img">
          <img src="img/bonus-img.svg" alt="img" />
        </div>
        <a class="bonus__btn btn" href="#"> Перейти в личный кабинет </a>
      </div>
      <div class="bonus__right">
        <div class="bonus__box">
          <h1 class="bonus__title">Бонусы</h1>

          <div class="bonus__top">
            <p class="bonus__text">
              <span> Программа лояльности: </span> накопление бонусов
            </p>
            <p class="bonus__text">
              <span>Как работает: </span> <br />
              при покупке товаров в интернет магазине, начисляются баллы
            </p>
          </div>

          <p class="bonus__text">
            Бонусные баллы начисляются за каждые потраченные 50Р, при покупке
            товаров на общую сумму 15 000 ₽,
          </p>
          <p class="bonus__text">
            <span>
              Накопленными баллами можно оплатить покупку частично или
              полностью.
            </span>
          </p>
        </div>

        <div class="bonus__box">
          <h2 class="bonus__title">Накопительная система баллов за покупки</h2>

          <p class="bonus__text">
            <span> Как работает: </span>
          </p>
          <ul class="bonus__list">
            <li class="bonus__item">
              При достижении суммы покупок в нашем интернет-магазине 10 000
              рублей, Вам начинают начисляться бонусные баллы
            </li>
            <li class="bonus__item">
              За каждые потраченные 50 рублей Вам начисляется 1 балл
            </li>
            <li class="bonus__item">
              Накапливайте бонусные баллы и оплачивайте ими до 100% покупок в
              нашем интернет-магазине из расчета 1 балл = 1 рубль
            </li>
            <li class="bonus__item">
              Бонусные баллы не могут быть потрачены при покупке товаров в нашем
              торговом центре
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
