<section class="brands-slider">
  <div class="container">
    <div class="brands-slider__top">
      <h2 class="brands-slider__title">Бренды</h2>

      <a class="brands-slider__link link" href="#">Вce бренды</a>
    </div>
  </div>

  <div class="container-1360">
    <div class="brands-slider__content">
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>

      <div class="brands-slider__slider swiper">
        <ul class="brands-slider__slides swiper-wrapper">
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source
                  srcset="
                    https://plus.unsplash.com/premium_photo-1661632579356-5ecd63fd871b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60
                  "
                  type="image/webp"
                />
                <img src="img/brands/1.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/1.webp" type="image/webp" />
                <img src="img/brands/1.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/1.webp" type="image/webp" />
                <img src="img/brands/1.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/1.webp" type="image/webp" />
                <img src="img/brands/1.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/1.webp" type="image/webp" />
                <img src="img/brands/1.png" alt="brands" />
              </picture>
            </a>
          </li>
        </ul>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
