<section class="brands-page">
  <div class="container">
    <h1 class="brands-page__title">Бренды</h1>
    <p class="brands-page__text">
      Наш интернет-магазин является официальным дилером представленных торговых
      марок. Это означает, что вся продукция действительно фирменная, никакого
      «серого импорта». На все товары распространяется гарантия производителя, а
      цены в нашем магазине соответствуют рекомендованным производителем.
    </p>

    <ul class="brands-page__list">
      <li class="brands-page__item">
        <a class="brands-card" href="#">
          <picture>
            <source srcset="img/brands/1.png" type="image/webp" />
            <img src="img/brands/1.png" alt="brands" />
          </picture>
        </a>
      </li>
      <li class="brands-page__item">
        <a class="brands-card" href="#">
          <picture>
            <source srcset="img/brands/1.png" type="image/webp" />
            <img src="img/brands/1.png" alt="brands" />
          </picture>
        </a>
      </li>
      <li class="brands-page__item">
        <a class="brands-card" href="#">
          <picture>
            <source srcset="img/brands/1.png" type="image/webp" />
            <img src="img/brands/1.png" alt="brands" />
          </picture>
        </a>
      </li>
      <li class="brands-page__item">
        <a class="brands-card" href="#">
          <picture>
            <source srcset="img/brands/1.png" type="image/webp" />
            <img src="img/brands/1.png" alt="brands" />
          </picture>
        </a>
      </li>
      <li class="brands-page__item">
        <a class="brands-card" href="#">
          <picture>
            <source srcset="img/brands/1.png" type="image/webp" />
            <img src="img/brands/1.png" alt="brands" />
          </picture>
        </a>
      </li>
      <li class="brands-page__item">
        <a class="brands-card" href="#">
          <picture>
            <source srcset="img/brands/1.png" type="image/webp" />
            <img src="img/brands/1.png" alt="brands" />
          </picture>
        </a>
      </li>
      <li class="brands-page__item">
        <a class="brands-card" href="#">
          <picture>
            <source srcset="img/brands/1.png" type="image/webp" />
            <img src="img/brands/1.png" alt="brands" />
          </picture>
        </a>
      </li>
      <li class="brands-page__item">
        <a class="brands-card" href="#">
          <picture>
            <source srcset="img/brands/1.png" type="image/webp" />
            <img src="img/brands/1.png" alt="brands" />
          </picture>
        </a>
      </li>
    </ul>

    <div class="pagination">
      <ul class="pagination__list">
        <li class="pagination__item">
          <button
            class="pagination__btn pagination__btn--arrow"
            type="button"
            aria-label="Вперед"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19 10L13 16L19 22"
                stroke="#222222"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button
            class="pagination__btn pagination__btn--arrow"
            type="button"
            aria-label="Назад"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13 10L19 16L13 22"
                stroke="#222222"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
