<section class="brands-slider">
  <div class="container">
    <div class="brands-slider__top">
      <h2 class="brands-slider__title">Бренды</h2>

      <a class="brands-slider__link link" href="#">Вce бренды</a>
    </div>
  </div>

  <div class="container-1360">
    <div class="brands-slider__content">
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>

      <div class="brands-slider__slider swiper">
        <ul class="brands-slider__slides swiper-wrapper">
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/1.webp" type="image/webp" />
                <img src="img/brands/1.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/2.webp" type="image/webp" />
                <img src="img/brands/2.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/3.webp" type="image/webp" />
                <img src="img/brands/3.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/4.webp" type="image/webp" />
                <img src="img/brands/4.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/5.webp" type="image/webp" />
                <img src="img/brands/5.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/6.webp" type="image/webp" />
                <img src="img/brands/6.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/7.webp" type="image/webp" />
                <img src="img/brands/7.png" alt="brands" />
              </picture>
            </a>
          </li>
          <li class="brands-slider__slide swiper-slide">
            <a class="brands-card" href="#">
              <picture>
                <source srcset="img/brands/8.webp" type="image/webp" />
                <img src="img/brands/8.png" alt="brands" />
              </picture>
            </a>
          </li>
        </ul>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
