<section class="contacts-page">
  <div class="container">
    <h1 class="contacts-page__title">Контакты</h1>

    <ul class="contacts-page__list">
      <li class="contacts-page__item">
        <img class="contacts-page__img" src="img/icons/clock.svg" alt="clock" />
        <div class="contacts-page__schedule">
          <span>пн-пт 8:00-19:00</span>
          <span class="divider">|</span>
          <span>сб 8:00-16:00</span> <br />
          <span>вс 8:00-15:00</span>
        </div>
      </li>
      <li class="contacts-page__item">
        <img
          class="contacts-page__img"
          src="img/icons/phone-red.svg"
          alt="clock"
        />
        <div class="contacts-page__links">
          <a class="contacts-page__link" href="tel:+78317135050">
            8 831 713 50 50
          </a>
          <a class="contacts-page__link" href="tel:+79506032111">
            8 (950) 603-21-11
          </a>
        </div>
      </li>
      <li class="contacts-page__item">
        <img class="contacts-page__img" src="img/icons/map.svg" alt="clock" />
        <address>г.Павлово, ул.Чкалова, 49</address>
      </li>
      <li class="contacts-page__item">
        <img class="contacts-page__img" src="img/icons/at.svg" alt="clock" />
        <a class="contacts-page__link" href="mailto:brigabir152@mail.ru"
          >brigabir152@mail.ru</a
        >
      </li>
    </ul>

    <div class="contacts-page__map map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A43b5c12cfd539051cc8c03f3841051080f3f761c89975c86a808fea410176639&amp;source=constructor"
        width="800"
        height="400"
      ></iframe>
    </div>
    <div class="contacts-page__btns">
      <button class="contacts-page__route" type="button">
        <svg
          width="32"
          height="29"
          viewBox="0 0 32 29"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M25 24.5193C26.6569 24.5193 28 23.3431 28 21.8922C28 20.4413 26.6569 19.2651 25 19.2651C23.3431 19.2651 22 20.4413 22 21.8922C22 23.3431 23.3431 24.5193 25 24.5193Z"
            stroke="#222222"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M9 6.12988H21C22.0609 6.12988 23.0783 6.49892 23.8284 7.15582C24.5786 7.81271 25 8.70365 25 9.63264C25 10.5616 24.5786 11.4526 23.8284 12.1095C23.0783 12.7664 22.0609 13.1354 21 13.1354H9C7.67392 13.1354 6.40215 13.5967 5.46447 14.4178C4.52678 15.2389 4 16.3526 4 17.5138C4 18.6751 4.52678 19.7888 5.46447 20.6099C6.40215 21.431 7.67392 21.8923 9 21.8923H22"
            stroke="#222222"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <span> Проложить маршрут до магазина</span>
      </button>
      <button class="contacts-page__btn-map" type="button">
        Посмотреть на карте
      </button>
    </div>
  </div>
</section>
