<section class="help">
  <div class="container">
    <h1 class="help__title">Вопрос ответ</h1>
    <p class="help__text">
      В данном разделе приведены ответы на часто задаваемые вопросы наших
      посетителей. Использование данного раздела позволит сократить нагрузку на
      операторов и повысить удовлетворенность клиентов.
    </p>

    <div class="help__tabs help-tabs">
      <div class="help-tabs__top">
        <ul class="help-tabs__list">
          <li class="help-tabs__item">
            <button class="help-tabs__btn active" type="button">
              Вопрос о доставке
            </button>
          </li>
          <li class="help-tabs__item">
            <button class="help-tabs__btn" type="button">Общие вопросы</button>
          </li>
          <li class="help-tabs__item">
            <button class="help-tabs__btn" type="button">
              Вопросы по возврату
            </button>
          </li>
        </ul>
      </div>
      <div class="help-tabs__content active">
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
            Возможен ли самовывоз заказанного товара?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
          Как осуществляется доставка в регионы?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
          Как рассчитать стоимость доставки?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
      </div>
      <div class="help-tabs__content active">
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
            Возможен ли самовывоз заказанного товара?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
          Как осуществляется доставка в регионы?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
          Как рассчитать стоимость доставки?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
      </div>
      <div class="help-tabs__content active">
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
            Возможен ли самовывоз заказанного товара?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
          Как осуществляется доставка в регионы?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
        <div class="help-accordion accordion">
          <button
            class="help-accordion__control accordion-control"
            type="button"
          >
          Как рассчитать стоимость доставки?
          </button>
          <div class="help-accordion__content accordion-content">
            <div>Да, возможен. Адреса склада г.Павлово, ул.Чкалова, 49</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
