<section class="hero" style="background-image: url('img/hero/bg.jpg')">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__slider swiper">
        <ul class="hero__slides swiper-wrapper">
          <li class="hero__slide swiper-slide">
            <div class="hero__inner">
              <div class="hero__offer">
                <span class="hero__text">Двери</span>
                <h2 class="hero__title">
                  Новые поступление межконатных дверей
                </h2>
                <span class="hero__text">
                  Итальянский производитель, качество, долговечность
                </span>
                <button class="hero__btn btn" type="button">
                  Подробнее о товаре
                </button>
              </div>
              <div class="hero__img">
                <picture>
                  <source srcset="img/hero/1.webp" type="image/webp" />
                  <img src="img/hero/1.png" alt="двери" />
                </picture>
              </div>
            </div>
          </li>
          <li class="hero__slide swiper-slide">
            <div class="hero__inner">
              <div class="hero__offer">
                <span class="hero__text">Двери</span>
                <h2 class="hero__title">
                  Новые поступление межконатных дверей
                </h2>
                <span class="hero__text">
                  Итальянский производитель, качество, долговечность
                </span>
                <button class="hero__btn btn" type="button">
                  Подробнее о товаре
                </button>
              </div>
              <div class="hero__img">
                <picture>
                  <source srcset="img/hero/1.webp" type="image/webp" />
                  <img src="img/hero/1.png" alt="двери" />
                </picture>
              </div>
            </div>
          </li>
          <li class="hero__slide swiper-slide">
            <div class="hero__inner">
              <div class="hero__offer">
                <span class="hero__text">Двери</span>
                <h2 class="hero__title">
                  Новые поступление межконатных дверей
                </h2>
                <span class="hero__text">
                  Итальянский производитель, качество, долговечность
                </span>
                <button class="hero__btn btn" type="button">
                  Подробнее о товаре
                </button>
              </div>
              <div class="hero__img">
                <picture>
                  <source srcset="img/hero/1.webp" type="image/webp" />
                  <img src="img/hero/1.png" alt="двери" />
                </picture>
              </div>
            </div>
          </li>
          <li class="hero__slide swiper-slide">
            <div class="hero__inner">
              <div class="hero__offer">
                <span class="hero__text">Двери</span>
                <h2 class="hero__title">
                  Новые поступление межконатных дверей
                </h2>
                <span class="hero__text">
                  Итальянский производитель, качество, долговечность
                </span>
                <button class="hero__btn btn" type="button">
                  Подробнее о товаре
                </button>
              </div>
              <div class="hero__img">
                <picture>
                  <source srcset="img/hero/1.webp" type="image/webp" />
                  <img src="img/hero/1.png" alt="двери" />
                </picture>
              </div>
            </div>
          </li>
          <li class="hero__slide swiper-slide">
            <div class="hero__inner">
              <div class="hero__offer">
                <span class="hero__text">Двери</span>
                <h2 class="hero__title">
                  Новые поступление межконатных дверей
                </h2>
                <span class="hero__text">
                  Итальянский производитель, качество, долговечность
                </span>
                <button class="hero__btn btn" type="button">
                  Подробнее о товаре
                </button>
              </div>
              <div class="hero__img">
                <picture>
                  <source srcset="img/hero/1.webp" type="image/webp" />
                  <img src="img/hero/1.png" alt="двери" />
                </picture>
              </div>
            </div>
          </li>
        </ul>
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
