<section class="history">
  <div class="container">
    <h2 class="history__title">История</h2>

    <div class="history__wrapper">
      <div class="history__left">
        <div class="history__opening">
          <span>Открытие магазина</span>
          <span class="history__date">26 апреля 2017 года</span>
        </div>
        <picture>
          <source srcset="img/history-img.webp" type="image/webp" />
          <img class="history__img" src="img/history-img.jpg" alt="img" />
        </picture>
      </div>
      <div class="history__right">
        <div class="history__text">
          <p>
            Наш торговый центр открыл свои двери для покупателей 26 апреля 2017
            года. За прошедшие годы мы постоянно пополняли наш ассортимент,
            оптимизировали наш ассортимент с целью удовлетворить любой запрос
            наших покупателей. И теперь с уверенностью можем сказать, что у нас
            вы сможете найти широкий выбор строительный и отделочных материалов,
            ручного и электрического инструмента, товары для благоустройства
            вашего дома, а также для сада или дачного участка.
          </p>
          <p>
            Мы идем в ногу со временем и для удобства наших клиентов в 2023 году
            дополнительно открыли интернет-магазин, чтобы экономить ваше время.
            Теперь вам не надо тратить время на дорогу и покупки в торговом
            центре. Мы сами соберем ваш заказ и привезем в кратчайшие сроки. Для
            постоянных покупателей нашего интернет-магазина действуют особая
            бонусная накопительная программа.
          </p>
        </div>

        <div class="requisites">
          <span class="requisites__title">Реквизиты компании:</span>
          <div class="requisites__inner">
            <p>Индивидуальный предприниматель Анучина Я.С.</p>
            <p>ИНН: 525211151653</p>
            <p>ОГРН: 320527500009841</p>
            <p>Расчетный счет: р/с 40802810542000040302</p>
            <p>В Волго-Вятский банк ПАО Сбербанк</p>
            <p>к/с: 30101810900000000603</p>
            <p>БИК банка: 042202603</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
