<section class="new-slider">
  <div class="container">
    <div class="new-slider__top">
      <h2 class="new-slider__title">Новинки</h2>
      <a class="new-slider__link link" href="#">Перейти в коталог</a>
    </div>

    <div class="new-slider__slider swiper">
      <ul class="new-slider__slides swiper-wrapper">
        <li class="new-slider__slide swiper-slide">
          <article
            class="new-slider-card"
            style="background-image: url('img/new-slider-bg.jpg')"
          >
            <div class="new-slider-card__left">
              <div class="new-slider-card__badge badge badge--yellow">
                Электро бензо-инструмент и оснастка
              </div>
              <h3 class="new-slider-card__title">
                Супер прочные сверла <br />
                от storgom
              </h3>
              <p class="new-slider-card__note">по доступным ценам</p>
            </div>
            <div class="new-slider-card__img">
              <picture>
                <source
                  srcset="img/new-slider-img-small.png"
                  type="image/webp"
                  media="(max-width: 767px)"
                />
                <img src="img/new-slider.png" alt="image" />
              </picture>
            </div>
            <div class="new-slider-card__right">
              <p class="new-slider-card__text">
                Качественный инструмент - залог быстрого ремонта
              </p>
              <a class="new-slider-card__btn btn" href="#">
                <span>Перейти к товару</span>

                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.125 6.25L11.875 10L8.125 13.75"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                  />
                </svg>
              </a>
            </div>
          </article>
        </li>
        <li class="new-slider__slide swiper-slide">
          <article
            class="new-slider-card"
            style="background-image: url('img/new-slider-bg.jpg')"
          >
            <div class="new-slider-card__left">
              <div class="new-slider-card__badge badge badge--yellow">
                Электро бензо-инструмент и оснастка
              </div>
              <h3 class="new-slider-card__title">
                Супер прочные сверла <br />
                от storgom
              </h3>
              <span>по доступным ценам</span>
            </div>
            <div class="new-slider-card__img">
              <picture>
                <source
                  srcset="
                    https://images.unsplash.com/photo-1668190414716-dc4ced29138c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60
                  "
                  type="image/webp"
                />
                <img src="img/new-slider.png" alt="image" />
              </picture>
            </div>
            <div class="new-slider-card__right">
              <p class="new-slider-card__text">
                Качественный инструмент - залог быстрого ремонта
              </p>
              <a class="new-slider-card__btn btn" href="#">
                <span>Перейти к товару</span>

                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.125 6.25L11.875 10L8.125 13.75"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                  />
                </svg>
              </a>
            </div>
          </article>
        </li>
      </ul>

      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
