<!-- * Dropdown Catalog -->
<div class="dropdown-catalog">
  <div class="container">
    <div class="dropdown-catalog__inner">
      <div class="dropdown-catalog__tabs">
        <ul class="dropdown-catalog__list">
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn active" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Стройматериалы</span>
            </button>
          </li>
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Инструмент</span>
            </button>
          </li>
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Электрика</span>
            </button>
          </li>
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Инженерные системы</span>
            </button>
          </li>
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Интерьер и отделка</span>
            </button>
          </li>
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Сантехника</span>
            </button>
          </li>
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Крепеж</span>
            </button>
          </li>
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Благоустройство</span>
            </button>
          </li>
          <li class="dropdown-catalog__item">
            <button class="dropdown-catalog__btn" type="button">
              <img src="img/categories-icons/1.svg" alt="icon" />

              <span>Новинки</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="dropdown-catalog__contents">
        <div class="dropdown-catalog__content active">
          <span class="dropdown-catalog__heading"> Стройматериалы </span>

          <div class="catalog-cols">
            <div class="catalog-cols__inner">
              <div class="catalog-cols__col">
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Ручной инструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Измерительный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Малярный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Ударно-рычажный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штукатурно-отделочный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Столярно-слесарный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Электротехнический инструмент</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Электроинструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Наборы электроинструмента
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Дрели и шуруповерты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Компрессорное оборудование и аксессуары
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Краскопульты </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Лобзики </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Миксеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Отбойные молотки</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Перфораторы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Пилы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Плиткорезы электрические</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Пылесосы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Реноваторы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Рубанки </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Степлеры электрические
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Строительные пистолеты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Точила </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Фены строительные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Фрезеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины вибрационные, полировальные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины угловые (УШМ)
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штроборез (бороздодел)
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalog-cols__col">
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#">
                    Расходные материалы к электроинструменту
                  </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Аккумуляторы для инструмента</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Аксессуары для цепных пил</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Биты </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Буры и зубила </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Венчики для строительных миксеров
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Диски алмазные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Диски пильные </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Зенкеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Комплектующие к пистолетам монтажным, термоклеевым
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Комплектующие к пылесосам
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Кордщетки </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Коронки </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Круги зачистные по металлу
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Круги лепестковые
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Круги отрезные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Лента наждачная
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Насадки для электроинструмента
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Переходники, адаптеры, держатели
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Пилки для лобзиков
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Пилки для сабельных пил
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Сверла </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Смазки для инструмента
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Фрезы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Шлифовальные диски
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Шлифовальные листы
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Шлифовальные чашки
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Абразивные материалы
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Бумага наждачная
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Шкурка, губки, блоки шлифовальные
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#">
                    Абразивные материалы
                  </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Бумага наждачная
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Шкурка, губки, блоки шлифовальные
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalog-cols__col">
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Ручной инструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Измерительный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Малярный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Ударно-рычажный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штукатурно-отделочный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Столярно-слесарный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Электротехнический инструмент</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Электроинструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Наборы электроинструмента
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Дрели и шуруповерты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Компрессорное оборудование и аксессуары
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Краскопульты </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Лобзики </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Миксеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Отбойные молотки</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Перфораторы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Пилы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Плиткорезы электрические</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Пылесосы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Реноваторы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Рубанки </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Степлеры электрические
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Строительные пистолеты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Точила </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Фены строительные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Фрезеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины вибрационные, полировальные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины угловые (УШМ)
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штроборез (бороздодел)
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalog-cols__col">
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Ручной инструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Измерительный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Малярный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Ударно-рычажный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штукатурно-отделочный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Столярно-слесарный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Электротехнический инструмент</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Электроинструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Наборы электроинструмента
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Дрели и шуруповерты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Компрессорное оборудование и аксессуары
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Краскопульты </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Лобзики </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Миксеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Отбойные молотки</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Перфораторы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Пилы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Плиткорезы электрические</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Пылесосы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Реноваторы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Рубанки </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Степлеры электрические
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Строительные пистолеты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Точила </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Фены строительные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Фрезеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины вибрационные, полировальные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины угловые (УШМ)
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штроборез (бороздодел)
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-catalog__content">
          <span class="dropdown-catalog__heading"> Инструмент </span>

          <div class="catalog-cols">
            <div class="catalog-cols__inner">
              <div class="catalog-cols__col">
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Ручной инструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Измерительный инструмент</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalog-cols__col">
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Ручной инструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Измерительный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Малярный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Ударно-рычажный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штукатурно-отделочный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Столярно-слесарный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Электротехнический инструмент</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Электроинструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Наборы электроинструмента
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Дрели и шуруповерты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Компрессорное оборудование и аксессуары
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Краскопульты </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Лобзики </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Миксеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Отбойные молотки</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Перфораторы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Пилы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Плиткорезы электрические</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Пылесосы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Реноваторы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Рубанки </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Степлеры электрические
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Строительные пистолеты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Точила </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Фены строительные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Фрезеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины вибрационные, полировальные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины угловые (УШМ)
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штроборез (бороздодел)
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalog-cols__col">
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Ручной инструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Измерительный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Малярный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Ударно-рычажный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штукатурно-отделочный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Столярно-слесарный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Электротехнический инструмент</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Электроинструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Наборы электроинструмента
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Дрели и шуруповерты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Компрессорное оборудование и аксессуары
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Краскопульты </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Лобзики </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Миксеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Отбойные молотки</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Перфораторы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Пилы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Плиткорезы электрические</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Пылесосы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Реноваторы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Рубанки </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Степлеры электрические
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Строительные пистолеты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Точила </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Фены строительные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Фрезеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины вибрационные, полировальные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины угловые (УШМ)
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штроборез (бороздодел)
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="catalog-cols__col">
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Ручной инструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Измерительный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Малярный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Ударно-рычажный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штукатурно-отделочный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Столярно-слесарный инструмент</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Электротехнический инструмент</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="catalog-cols__box">
                  <a class="catalog-cols__name" href="#"> Электроинструмент </a>
                  <ul class="catalog-cols__list">
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Наборы электроинструмента
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Дрели и шуруповерты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Компрессорное оборудование и аксессуары
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Краскопульты </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Лобзики </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Миксеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Отбойные молотки</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Перфораторы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Пилы</a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">
                        Плиткорезы электрические</a
                      >
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Пылесосы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"> Реноваторы </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Рубанки </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Степлеры электрические
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Строительные пистолеты
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Точила </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Фены строительные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#">Фрезеры </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины вибрационные, полировальные
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Шлифмашины угловые (УШМ)
                      </a>
                    </li>
                    <li class="catalog-cols__item">
                      <a class="catalog-cols__link" href="#"
                        >Штроборез (бороздодел)
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown-catalog__content">
          <span class="dropdown-catalog__heading"> Электрика </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- * / -->

<!-- <div class="popup popup--login">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">Вход в личный кабинет</span>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="login-email">
            Ваш номер телефона или e-mail
          </label>

          <input
            class="form-submit__input"
            name="name"
            id="login-email"
            type="text"
            placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="login-password">
            Пароль
          </label>

          <input
            class="form-submit__input"
            name="tel"
            id="login-password"
            type="password"
            placeholder="*************"
            required
          />
          <button class="form-submit__show-password" type="button">
            <svg
              width="21"
              height="20"
              viewBox="0 0 21 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.5 4.375C16.75 4.375 19.25 10 19.25 10C19.25 10 16.75 15.625 10.5 15.625C4.25 15.625 1.75 10 1.75 10C1.75 10 4.25 4.375 10.5 4.375Z"
                stroke="#222222"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.5 13.125C8.77411 13.125 7.375 11.7259 7.375 10C7.375 8.27411 8.77411 6.875 10.5 6.875C12.2259 6.875 13.625 8.27411 13.625 10C13.625 11.7259 12.2259 13.125 10.5 13.125Z"
                stroke="black"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>

        <div class="form-submit__group form-submit__group--row">
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required checked />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"> Запопомнить меня </span>
          </label>

          <button class="form-submit__reset-password">Забыли пароль</button>
        </div>

        <div class="form-submit__group">
          <button class="form-submit__btn btn" type="button">Войти</button>
          <button class="form-submit__btn btn btn--gray" type="button">
            Регистрация
          </button>
        </div>

        <p class="form-submit__policy">
          Продолжая, вы соглашаетесь с
          <a href="#">политикой конфиденциальности</a>
        </p>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--registration">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">Регистрацияя</span>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="login-email"> Ваше имя </label>

          <input
            class="form-submit__input"
            name="name"
            id="login-email"
            type="text"
            placeholder="ФИО"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="login-password">
            Е-mail
          </label>

          <input
            class="form-submit__input"
            name="tel"
            id="login-password"
            type="password"
            placeholder="yana.anuchina@mail.ru"
            required
          />
        </div>
        <div class="form-submit__group">
          <label class="form-submit__label" for="login-password">
            Ваш номер телефона
          </label>

          <input
            class="form-submit__input"
            name="tel"
            id="login-password"
            type="password"
            placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _"
            required
          />
        </div>

        <div class="form-submit__group">
          <button class="form-submit__btn btn">Зарегистрироваться</button>

          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required checked />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"
              >Даю согласие на обработку персональных данных</span
            >
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--restore-pas">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">Востановить пароль</span>
      <p class="popup__text">Если вы забыли пароль, введите e-mail</p>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="login-email">Е-mail</label>

          <input
            class="form-submit__input"
            name="name"
            id="login-email"
            type="email"
            placeholder="Адрес вашей электронной почты"
            required
          />
        </div>
        <p class="form-submit__text">
          Контрольная строка для смены парля а также ваши регистрационные
          данные, будут высланы вам по e-mail
        </p>

        <div class="form-submit__group">
          <button class="form-submit__btn btn">Зарегистрироваться</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--back-call">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">Обратный звонок</span>

      <form class="form-submit">
        <div class="form-submit__inner">
          <div class="form-submit__group">
            <label class="form-submit__label" for="login-email">Ваше имя</label>

            <input
              class="form-submit__input"
              name="name"
              id="login-email"
              type="email"
              placeholder="ФИО"
              required
            />
          </div>
          <div class="form-submit__group">
            <label class="form-submit__label" for="login-email"
              >Ваш телефон</label
            >

            <input
              class="form-submit__input"
              name="name"
              id="login-email"
              type="email"
              placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _"
              required
            />
          </div>
        </div>

        <div class="form-submit__group">
          <button class="form-submit__btn btn">Отправить</button>

          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required checked />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"
              >Даю согласие на обработку персональных данных</span
            >
          </label>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--notify">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <span class="popup__title">Мы оповестим о наличии</span>

      <form class="form-submit">
        <div class="form-submit__group">
          <label class="form-submit__label" for="login-email">Е-mail</label>

          <input
            class="form-submit__input"
            name="name"
            id="login-email"
            type="email"
            placeholder="Адрес вашей электронной почты"
            required
          />
        </div>

        <div class="form-submit__group">
          <button class="form-submit__btn btn">Узнать о наличии</button>

          <label class="checkbox">
            <input class="checkbox__input" type="checkbox" required checked />
            <span class="checkbox__box"></span>
            <span class="checkbox__text"
              >Даю согласие на обработку персональных данных</span
            >
          </label>
        </div>
      </form>
    </div>
  </div>
</div> -->
