<section class="product">
  <div class="container">
    <div class="product__top">
      <div class="product__wrapper">
        <div class="product__slider">
          <div class="slider-thumbs">
            <div class="slider-thumbs__nav">
              <div class="slider-thumbs__nav-wrap swiper" id="slider-nav">
                <ul class="swiper-wrapper">
                  <li class="swiper-slide slider-nav__slide">
                    <picture>
                      <source
                        srcset="img/product-slider/1.png"
                        type="image/webp"
                      />
                      <img src="img/product-slider/1.png" alt="img" />
                    </picture>
                  </li>
                  <li class="swiper-slide slider-nav__slide">
                    <picture>
                      <source
                        srcset="img/product-slider/2.png"
                        type="image/webp"
                      />
                      <img src="img/product-slider/2.png" alt="img" />
                    </picture>
                  </li>
                  <li class="swiper-slide slider-nav__slide">
                    <picture>
                      <source
                        srcset="img/product-slider/3.png"
                        type="image/webp"
                      />
                      <img src="img/product-slider/3.png" alt="img" />
                    </picture>
                  </li>
                  <li class="swiper-slide slider-nav__slide">
                    <picture>
                      <source
                        srcset="img/product-slider/1.png"
                        type="image/webp"
                      />
                      <img src="img/product-slider/1.png" alt="img" />
                    </picture>
                  </li>
                  <li class="swiper-slide slider-nav__slide">
                    <picture>
                      <source
                        srcset="img/product-slider/2.png"
                        type="image/webp"
                      />
                      <img src="img/product-slider/2.png" alt="img" />
                    </picture>
                  </li>
                  <li class="swiper-slide slider-nav__slide">
                    <picture>
                      <source
                        srcset="img/product-slider/3.png"
                        type="image/webp"
                      />
                      <img src="img/product-slider/3.png" alt="img" />
                    </picture>
                  </li>
                </ul>
              </div>

              <!-- <div class="slider-thumbs__nav-control">
                <button
                  class="swiper-button-prev"
                  type="button"
                  aria-label="Предыдущий"
                ></button>
                <button
                  class="swiper-button-next"
                  type="button"
                  aria-label="Следующий"
                ></button>
              </div> -->
            </div>

            <div class="slider-thumbs__main swiper" id="slider-main">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <div class="slider-thumbs__img">
                    <picture>
                      <source
                        srcset="img/product-slider/1-big.webp"
                        type="image/webp"
                      />
                      <img src="img/product-slider/1-big.png" alt="img" />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="slider-thumbs__img">
                    <picture>
                      <source
                        srcset="img/product-slider/1-big.webp"
                        type="image/webp"
                      />
                      <img src="img/product-slider/1-big.png" alt="img" />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="slider-thumbs__img">
                    <picture>
                      <source
                        srcset="img/product-slider/1-big.webp"
                        type="image/webp"
                      />
                      <img src="img/product-slider/1-big.png" alt="img" />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <a class="slider-thumbs__img">
                    <picture>
                      <source
                        srcset="img/product-slider/1-big.webp"
                        type="image/webp"
                      />
                      <img src="img/product-slider/1-big.png" alt="img" />
                    </picture>
                  </a>
                </li>
                <li class="swiper-slide">
                  <div class="slider-thumbs__img">
                    <picture>
                      <source
                        srcset="img/product-slider/1-big.webp"
                        type="image/webp"
                      />
                      <img src="img/product-slider/1-big.png" alt="img" />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="slider-thumbs__img">
                    <picture>
                      <source
                        srcset="img/product-slider/1-big.webp"
                        type="image/webp"
                      />
                      <img src="img/product-slider/1-big.png" alt="img" />
                    </picture>
                  </div>
                </li>
              </ul>

              <!-- <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button> -->
            </div>
          </div>
        </div>
        <div class="product__right">
          <div class="product-details">
            <div class="product-details__top">
              <div class="product-details__rating">
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7 0.397461L8.85152 4.84906L13.6574 5.23434L9.99583 8.37086L11.1145 13.0606L7 10.5475L2.8855 13.0606L4.00417 8.37086L0.342604 5.23434L5.14848 4.84906L7 0.397461Z"
                    fill="#FDB813"
                  />
                </svg>
                <span>4.5</span>
              </div>
              <span
                class="product-details__stock product-details__stock--in-stock"
              >
                В наличии
              </span>
              <span>Арт: 123456789</span>
            </div>
          </div>
          <h1 class="product__title">
            Аккумуляторная дрель-шуруповерт BRAIT BCD24N
          </h1>

          <div class="product__spec product-spec">
            <span class="product-spec__heading">Характеристики</span>

            <ul class="product-spec__list">
              <li class="product-spec__item">
                <div class="product-spec__left">Напряжение аккумулятора</div>
                <div class="product-spec__right">24 В</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">
                  Максимальный крутящий момент
                </div>
                <div class="product-spec__right">30 Н·м</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">
                  Макс. диаметр сверления (дерево)
                </div>
                <div class="product-spec__right">26 мм</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">
                  Макс. диаметр сверления (металл)
                </div>
                <div class="product-spec__right">12 мм</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">Вес</div>
                <div class="product-spec__right">1.4 кг</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">Емкость аккумулятора</div>
                <div class="product-spec__right">2 А·ч</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">Количество аккумуляторов</div>
                <div class="product-spec__right">2 шт.</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">Упаковка</div>
                <div class="product-spec__right">кейс</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">Особенности конструкции</div>
                <div class="product-spec__right">лампа точечной подсветки</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">Диаметр патрона</div>
                <div class="product-spec__right">0.8 – 10 мм</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">Функции</div>
                <div class="product-spec__right">
                  регулировка частоты вращения
                </div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">Тип патрона</div>
                <div class="product-spec__right">быстрозажимной</div>
              </li>
              <li class="product-spec__item">
                <div class="product-spec__left">
                  Макс. число оборотов холостого хода
                </div>
                <div class="product-spec__right">1400 об/мин</div>
              </li>
            </ul>
          </div>
          <div class="product__colors product-colors">
            <span class="product-colors__heading">Цвет товара</span>
            <ul class="product-colors__list">
              <li class="product-colors__item red"></li>
              <li class="product-colors__item yellow"></li>
              <li class="product-colors__item black"></li>
              <li class="product-colors__item blue"></li>
            </ul>
          </div>
          <div class="product__action-block action-block">
            <span class="action-block__heading">Цена</span>
            <div class="action-block__prices">
              <span class="action-block__price">68 250 ₽</span>
              <span class="action-block__price action-block__price--old">
                4 730 ₽
              </span>
            </div>
            <div class="action-block__bottom">
              <div class="action-block__counter counter">
                <button
                  class="counter__btn counter__btn--decrease"
                  type="button"
                  aria-label="Добавить"
                >
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.04505 9.99987H17.955"
                      stroke="#868686"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
                <input class="counter__input" type="number" value="1" />
                <button
                  class="counter__btn counter__btn--increase"
                  type="button"
                  aria-label="Вычесть"
                >
                  <svg
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M2.04505 9.99987H17.955"
                      stroke="#868686"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M10 17.9548V2.04492"
                      stroke="#868686"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>
              <button class="action-block__cart btn">
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M23 23H8.725L5.2375 3.825C5.1967 3.59537 5.07691 3.38722 4.89887 3.23657C4.72082 3.08592 4.49572 3.00223 4.2625 3H2"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10 28C11.3807 28 12.5 26.8807 12.5 25.5C12.5 24.1193 11.3807 23 10 23C8.61929 23 7.5 24.1193 7.5 25.5C7.5 26.8807 8.61929 28 10 28Z"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M23 28C24.3807 28 25.5 26.8807 25.5 25.5C25.5 24.1193 24.3807 23 23 23C21.6193 23 20.5 24.1193 20.5 25.5C20.5 26.8807 21.6193 28 23 28Z"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7.8125 18H23.5125C23.98 18.0014 24.433 17.838 24.7919 17.5386C25.1508 17.2391 25.3927 16.8227 25.475 16.3625L27 8H6"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                В корзину
              </button>
              <a class="action-block__click" href="#">Купить в 1 клик</a>
              <button class="action-block__btn" type="button">
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M16 13.5V27"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M16 5V8.5"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M16 13.5C17.3807 13.5 18.5 12.3807 18.5 11C18.5 9.61929 17.3807 8.5 16 8.5C14.6193 8.5 13.5 9.61929 13.5 11C13.5 12.3807 14.6193 13.5 16 13.5Z"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M25 23.5V27"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M25 5V18.5"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M25 23.5C26.3807 23.5 27.5 22.3807 27.5 21C27.5 19.6193 26.3807 18.5 25 18.5C23.6193 18.5 22.5 19.6193 22.5 21C22.5 22.3807 23.6193 23.5 25 23.5Z"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7 19.5V27"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7 5V14.5"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7 19.5C8.38071 19.5 9.5 18.3807 9.5 17C9.5 15.6193 8.38071 14.5 7 14.5C5.61929 14.5 4.5 15.6193 4.5 17C4.5 18.3807 5.61929 19.5 7 19.5Z"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button class="action-block__btn" type="button">
                <svg
                  width="32"
                  height="32"
                  viewBox="0 0 32 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M24 28L16 23L8 28V6C8 5.73478 8.10536 5.48043 8.29289 5.29289C8.48043 5.10536 8.73478 5 9 5H23C23.2652 5 23.5196 5.10536 23.7071 5.29289C23.8946 5.48043 24 5.73478 24 6V28Z"
                    stroke="#868686"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-tabs tabs">
      <div class="product-tabs__top">
        <div class="container">
          <div class="product-tabs__top-inner">
            <ul class="product-tabs__top-list">
              <li class="product-tabs__top-item">
                <button
                  class="product-tabs__top-btn tabs-btn active"
                  type="button"
                >
                  Описание товара
                </button>
              </li>
              <li class="product-tabs__top-item">
                <button class="product-tabs__top-btn tabs-btn" type="button">
                  Отзывы
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="product-tabs__content tabs-content active">
          <p class="product-tabs__text">
            Аккумуляторный шуруповерт Brait BCD24N 21.01.058.049 - мощный
            шуруповёрт для бытового и полупрофессионального использования.
            Компания Brait занимается выпуском электроинструмента,
            сельхозтехники, садовой и дачной техники. Отечественная фирма,
            созданная в 2012 году. Непосредственно производство находится в КНР,
            весь процесс под контролем головного офиса компании в г. Пермь.
            Продукция компании ориентирована на самого массового пользователя,
            т. к. успешно сочетает в себе цену и качество, а также широкий
            ассортимент. Особенности:- 18 ступеней регулировки крутящего
            момента- 2-х скоростной редуктор- прочный корпус- отличная
            эргономика- кейс в комплекте- реверс- индикатор заряда аккумулятора-
            светодиодная подсветка рабочей зоны- быстрозажимной
            патронРекомендации: Аккумуляторный шуруповерт Brait BCD24N
            21.01.058.049 - рекомендован для качественной и быстрой работы с
            крепежом и сверлению различных материалов.
          </p>
          <ul class="product-tabs__list">
            <li class="product-tabs__item">Напряжение: 24</li>
            <li class="product-tabs__item">Макс. крутящий момент: 30</li>
            <li class="product-tabs__item">Емкость аккумулятора: 2</li>
            <li class="product-tabs__item">Тип аккумулятора: Li-ion</li>
            <li class="product-tabs__item">Аккумуляторов в комплекте: два</li>
            <li class="product-tabs__item">Макс. число оборотов: 1350</li>
            <li class="product-tabs__item">Кейс: да</li>
            <li class="product-tabs__item">Кол-во скоростей: 2</li>
            <li class="product-tabs__item">Вес: 2.5</li>
          </ul>
        </div>
        <div class="product-tabs__content tabs-content">
          <p class="product-tabs__text">
            Аккумуляторный шуруповерт Brait BCD24N 21.01.058.049 - мощный
            шуруповёрт для бытового и полупрофессионального использования.
            Компания Brait занимается выпуском электроинструмента,
            сельхозтехники, садовой и дачной техники. Отечественная фирма,
            созданная в 2012 году. Непосредственно производство находится в КНР,
            весь процесс под контролем головного офиса компании в г. Пермь.
            Продукция компании ориентирована на самого массового пользователя,
            т. к. успешно сочетает в себе цену и качество, а также широкий
            ассортимент. Особенности:- 18 ступеней регулировки крутящего
            момента- 2-х скоростной редуктор- прочный корпус- отличная
            эргономика- кейс в комплекте- реверс- индикатор заряда аккумулятора-
            светодиодная подсветка рабочей зоны- быстрозажимной
            патронРекомендации: Аккумуляторный шуруповерт Brait BCD24N
            21.01.058.049 - рекомендован для качественной и быстрой работы с
            крепежом и сверлению различных материалов.
          </p>
          <ul class="product-tabs__list">
            <li class="product-tabs__item">Напряжение: 24</li>
            <li class="product-tabs__item">Макс. крутящий момент: 30</li>
            <li class="product-tabs__item">Емкость аккумулятора: 2</li>
            <li class="product-tabs__item">Тип аккумулятора: Li-ion</li>
            <li class="product-tabs__item">Аккумуляторов в комплекте: два</li>
            <li class="product-tabs__item">Макс. число оборотов: 1350</li>
            <li class="product-tabs__item">Кейс: да</li>
            <li class="product-tabs__item">Кол-во скоростей: 2</li>
            <li class="product-tabs__item">Вес: 2.5</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
