<section class="rent">
  <div class="container">
    <h1 class="rent__title">Инструмент в Аренду</h1>
    <p class="rent__text">
      Наш интернет-магазин является официальным дилером представленных торговых
      марок. Это означает, что вся продукция действительно фирменная, никакого
      «серого импорта». На все товары распространяется гарантия производителя, а
      цены в нашем магазине соответствуют рекомендованным производителем.
    </p>

    <ul class="rent__list">
      <li class="rent__item">
        <div class="rent-card">
          <span class="rent-card__name"> Виброплита BRAIT PC 90 </span>
          <picture>
            <source srcset="img/products/1.webp" type="image/webp" />
            <img src="img/products/1.png" alt="product" />
          </picture>

          <ul class="rent-card__list">
            <li class="rent-card__item">
              <div class="rent-card__text">за сутки:</div>
              <div class="rent-card__price">600 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">более суток:</div>
              <div class="rent-card__price">480 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">Залог:</div>
              <div class="rent-card__price">24 000 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">Стоимостб в случае невозврата:</div>
              <div class="rent-card__price">30 000 руб.</div>
            </li>
          </ul>
          <a class="rent-card__link link" href="#">Подробнее</a>
        </div>
      </li>
      <li class="rent__item">
        <div class="rent-card">
          <span class="rent-card__name"> Виброплита BRAIT PC 90 </span>
          <picture>
            <source srcset="img/products/1.webp" type="image/webp" />
            <img src="img/products/1.png" alt="product" />
          </picture>

          <ul class="rent-card__list">
            <li class="rent-card__item">
              <div class="rent-card__text">за сутки:</div>
              <div class="rent-card__price">600 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">более суток:</div>
              <div class="rent-card__price">480 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">Залог:</div>
              <div class="rent-card__price">24 000 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">Стоимостб в случае невозврата:</div>
              <div class="rent-card__price">30 000 руб.</div>
            </li>
          </ul>
          <a class="rent-card__link link" href="#">Подробнее</a>
        </div>
      </li>
      <li class="rent__item">
        <div class="rent-card">
          <span class="rent-card__name"> Виброплита BRAIT PC 90 </span>
          <picture>
            <source srcset="img/products/1.webp" type="image/webp" />
            <img src="img/products/1.png" alt="product" />
          </picture>

          <ul class="rent-card__list">
            <li class="rent-card__item">
              <div class="rent-card__text">за сутки:</div>
              <div class="rent-card__price">600 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">более суток:</div>
              <div class="rent-card__price">480 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">Залог:</div>
              <div class="rent-card__price">24 000 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">Стоимостб в случае невозврата:</div>
              <div class="rent-card__price">30 000 руб.</div>
            </li>
          </ul>
          <a class="rent-card__link link" href="#">Подробнее</a>
        </div>
      </li>
      <li class="rent__item">
        <div class="rent-card">
          <span class="rent-card__name"> Виброплита BRAIT PC 90 </span>
          <picture>
            <source srcset="img/products/1.webp" type="image/webp" />
            <img src="img/products/1.png" alt="product" />
          </picture>

          <ul class="rent-card__list">
            <li class="rent-card__item">
              <div class="rent-card__text">за сутки:</div>
              <div class="rent-card__price">600 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">более суток:</div>
              <div class="rent-card__price">480 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">Залог:</div>
              <div class="rent-card__price">24 000 руб.</div>
            </li>
            <li class="rent-card__item">
              <div class="rent-card__text">Стоимостб в случае невозврата:</div>
              <div class="rent-card__price">30 000 руб.</div>
            </li>
          </ul>
          <a class="rent-card__link link" href="#">Подробнее</a>
        </div>
      </li>
    </ul>
    <div class="pagination">
      <ul class="pagination__list">
        <li class="pagination__item">
          <button
            class="pagination__btn pagination__btn--arrow"
            type="button"
            aria-label="Вперед"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19 10L13 16L19 22"
                stroke="#222222"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button
            class="pagination__btn pagination__btn--arrow"
            type="button"
            aria-label="Назад"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13 10L19 16L13 22"
                stroke="#222222"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
