<section class="return">
  <div class="container">
    <h1 class="return__title">1. Правила возврата товара</h1>

    <div class="return__box">
      <p class="return__text">
        Возврат товара проводится в течение 14 дней после покупки по следующим
        правилам:
      </p>

      <ul class="return__list">
        <li class="return__item">Товар не был в употреблении;</li>
        <li class="return__item">Сохранен внешний вид товара;</li>
        <li class="return__item">Сохранены потребительские свойства товара;</li>
        <li class="return__item">
          Товар не изготавливался непосредственно под покупателя (колерованная
          краска, материалы, отпускаемые метражом)
        </li>
      </ul>

      <p class="return__text">
        Для возврата товара Вам необходимо предъявить кассовый чек, товарную
        накладная или иные документы, подтверждающие его покупку и оплату.
        <br />
        Возврат товара производится в нашем магазине в рабочее время. <br />
        Если при оплате товара Вы использовали наши бонусные баллы, то
        возвращается только сумма денег, потраченная на него. Израсходованные
        баллы на бонусный счет не возвращаются.
      </p>
    </div>

    <p class="return__text">
      <b>
        При возврате товара Вам необходимо иметь с собой следующие документы:
      </b>
    </p>

    <ul class="return__list">
      <li class="return__item">Паспорт или водительское удостоверение.</li>
      <li class="return__item">Документы, подтверждающие оплату;</li>
      <li class="return__item">
        Оригинал банковской карты и слип-чек, если оплата была произведена
        банковской картой;
      </li>
      <li class="return__item">
        Доверенность, если возврат будет производиться на юридическое лицо.
      </li>
    </ul>

    <div class="return__bottom">
      <p>
        С полными правилами возврата товара Вы можете <br />
        ознакомиться в нашем магазине или по телефону
        <a href="tel:+78317135050">8 831 713 50 50</a>
      </p>
      <button class="return__btn btn" type="button">Обратная связь</button>
    </div>
  </div>
</section>
