<section class="reviews-page">
  <div class="container">
    <div class="reviews-page__top">
      <h1 class="reviews-page__title">Отзывы</h1>
      <p class="reviews-page__text">
        Ваше доверие — наш залог успеха. А доверие возможно только когда есть
        обратная связь. <br />
        В случае отсутствия контактной информации и конкретных фактов, мы
        оставляем за собой право не публиковать ваш отзыв.
      </p>
      <button class="reviews-page__btn btn" type="button">
        Оставить отзыв
      </button>
    </div>

    <div class="reviews-page__cols">
      <ul class="reviews-page__list">
        <li class="reviews-item">
          <div class="reviews-item__top">
            <picture>
              <source srcset="img/reviews-items/1.webp" type="image/webp" />
              <img
                class="reviews-item__img"
                src="img/reviews-items/1.jpg"
                alt="img"
              />
            </picture>

            <div class="reviews-item__info">
              <h3 class="reviews-item__title">Ирина Долина</h3>
              <div class="reviews-item__date">
                <p>25 сентября 2022 г.</p>
                <p>г. Москва</p>
              </div>
            </div>
          </div>
          <div class="reviews-item__body">
            <blockquote class="reviews-item__text">
              <p>
                Таким образом новая модель организационной деятельности играет
                важную роль в формировании позиций, занимаемых участниками в
                отношении поставленных задач. Разнообразный и богатый опыт
                реализация намеченных плановых заданий позволяет оценить
                значение дальнейших направлений развития
              </p>
              <p>
                Идейные соображения высшего порядка, а также начало повседневной
                работы по формированию позиции представляет собой интересный
                эксперимент проверки систем массового участия.
              </p>
            </blockquote>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__top">
            <picture>
              <source srcset="img/reviews-items/2.webp" type="image/webp" />
              <img
                class="reviews-item__img"
                src="img/reviews-items/2jpg"
                alt="img"
              />
            </picture>

            <div class="reviews-item__info">
              <h3 class="reviews-item__title">Игорь Матросов</h3>
              <div class="reviews-item__date">
                <p>25 сентября 2022 г.</p>
                <p>г. Москва</p>
              </div>
            </div>
          </div>
          <div class="reviews-item__body">
            <blockquote class="reviews-item__text">
              <p>
                Таким образом новая модель организационной деятельности играет
                важную роль в формировании позиций, занимаемых участниками в
                отношении поставленных задач. Разнообразный и богатый опыт
                реализация намеченных плановых заданий позволяет оценить
                значение дальнейших направлений развития. Повседневная практика
                показывает, что новая модель организационной деятельности влечет
                за собой процесс внедрения и модернизации направлений
                прогрессивного развития. <br />
                Идейные соображения высшего порядка, а также начало повседневной
                работы по формированию позиции представляет собой интересный
                эксперимент проверки систем массового участия. Повседневная
                практика показывает, что новая модель организационной
                деятельности играет важную роль в формировании систем массового
                участия
              </p>
            </blockquote>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__top">
            <picture>
              <source srcset="img/reviews-items/3.webp" type="image/webp" />
              <img
                class="reviews-item__img"
                src="img/reviews-items/3.jpg"
                alt="img"
              />
            </picture>

            <div class="reviews-item__info">
              <h3 class="reviews-item__title">Николай Ветнюков</h3>
              <div class="reviews-item__date">
                <p>25 сентября 2022 г.</p>
                <p>г. Москва</p>
              </div>
            </div>
          </div>
          <div class="reviews-item__body">
            <blockquote class="reviews-item__text">
              <p>
                Таким образом новая модель организационной деятельности играет
                важную роль в формировании позиций, занимаемых участниками в
                отношении поставленных задач. Разнообразный и богатый опыт
                реализация намеченных плановых заданий позволяет оценить
                значение дальнейших направлений развития. Повседневная практика
                показывает, что новая модель организационной деятельности влечет
                за собой процесс внедрения и модернизации направлений
                прогрессивного развития. <br />
                Идейные соображения высшего порядка, а также начало повседневной
                работы по формированию позиции представляет собой интересный
                эксперимент проверки систем массового участия. Повседневная
                практика показывает, что новая модель организационной
                деятельности играет важную роль в формировании систем массового
                участия
              </p>
            </blockquote>
          </div>
        </li>
      </ul>
      <ul class="reviews-page__list">
        <li class="reviews-item">
          <div class="reviews-item__top">
            <picture>
              <source srcset="img/reviews-items/2.webp" type="image/webp" />
              <img
                class="reviews-item__img"
                src="img/reviews-items/2jpg"
                alt="img"
              />
            </picture>

            <div class="reviews-item__info">
              <h3 class="reviews-item__title">Игорь Матросов</h3>
              <div class="reviews-item__date">
                <p>25 сентября 2022 г.</p>
                <p>г. Москва</p>
              </div>
            </div>
          </div>
          <div class="reviews-item__body">
            <blockquote class="reviews-item__text">
              <p>
                Таким образом новая модель организационной деятельности играет
                важную роль в формировании позиций, занимаемых участниками в
                отношении поставленных задач. Разнообразный и богатый опыт
                реализация намеченных плановых заданий позволяет оценить
                значение дальнейших направлений развития. Повседневная практика
                показывает, что новая модель организационной деятельности влечет
                за собой процесс внедрения и модернизации направлений
                прогрессивного развития. <br />
                Идейные соображения высшего порядка, а также начало повседневной
                работы по формированию позиции представляет собой интересный
                эксперимент проверки систем массового участия. Повседневная
                практика показывает, что новая модель организационной
                деятельности играет важную роль в формировании систем массового
                участия
              </p>
            </blockquote>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__top">
            <picture>
              <source srcset="img/reviews-items/1.webp" type="image/webp" />
              <img
                class="reviews-item__img"
                src="img/reviews-items/1.jpg"
                alt="img"
              />
            </picture>

            <div class="reviews-item__info">
              <h3 class="reviews-item__title">Ирина Долина</h3>
              <div class="reviews-item__date">
                <p>25 сентября 2022 г.</p>
                <p>г. Москва</p>
              </div>
            </div>
          </div>
          <div class="reviews-item__body">
            <blockquote class="reviews-item__text">
              <p>
                Таким образом новая модель организационной деятельности играет
                важную роль в формировании позиций, занимаемых участниками в
                отношении поставленных задач. Разнообразный и богатый опыт
                реализация намеченных плановых заданий позволяет оценить
                значение дальнейших направлений развития
              </p>
              <p>
                Идейные соображения высшего порядка, а также начало повседневной
                работы по формированию позиции представляет собой интересный
                эксперимент проверки систем массового участия.
              </p>
            </blockquote>
          </div>
        </li>
        <li class="reviews-item">
          <div class="reviews-item__top">
            <picture>
              <source srcset="img/reviews-items/2.webp" type="image/webp" />
              <img
                class="reviews-item__img"
                src="img/reviews-items/2jpg"
                alt="img"
              />
            </picture>

            <div class="reviews-item__info">
              <h3 class="reviews-item__title">Игорь Матросов</h3>
              <div class="reviews-item__date">
                <p>25 сентября 2022 г.</p>
                <p>г. Москва</p>
              </div>
            </div>
          </div>
          <div class="reviews-item__body">
            <blockquote class="reviews-item__text">
              <p>
                Таким образом новая модель организационной деятельности играет
                важную роль в формировании позиций, занимаемых участниками в
                отношении поставленных задач. Разнообразный и богатый опыт
                реализация намеченных плановых заданий позволяет оценить
                значение дальнейших направлений развития. Повседневная практика
                показывает, что новая модель организационной деятельности влечет
                за собой процесс внедрения и модернизации направлений
                прогрессивного развития. <br />
                Идейные соображения высшего порядка, а также начало повседневной
                работы по формированию позиции представляет собой интересный
                эксперимент проверки систем массового участия. Повседневная
                практика показывает, что новая модель организационной
                деятельности играет важную роль в формировании систем массового
                участия
              </p>
            </blockquote>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
