<section class="services">
  <div class="container">
    <h1 class="services__title">Услгуги</h1>
    <div class="grid">
      <div class="grid__left">
        <div class="side">
          <div class="side__inner">
            <ul class="side__list">
              <li class="side__item">
                <a class="side__link" href="#">Доставка и подъем </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">Самовывоз </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">Распил </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">
                  Колеровка красок и декоративных штукатурок
                </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#"> Прокат инструмента </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">Переборка лесопиломатериалов </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">Расчет материалов </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">Установка дверей </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">Помощник по дизайну </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">Идеи, инструкции, советы </a>
              </li>
              <li class="side__item">
                <a class="side__link" href="#">Укладка напольных покрытий </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="grid__right">
        <p class="services__text">
          Специализируемся на услугах различных направлений — выполняем
          установку, монтаж и настройку оборудования из каталога нашего
          интернет-магазина. А также предлагаем воспользоваться системой
          кредитования для того, чтобы вы смогли приобрести необходимый товар
          или услугу прямо сейчас. Выполняем работы в день заказа, делаем все
          быстро и качественно!
        </p>

        <ul class="services__list">
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/1.webp" type="image/webp" />
                  <img src="img/services/1.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Доставка и подъем</a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/2.webp" type="image/webp" />
                  <img src="img/services/2.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Самовывоз</a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/3.webp" type="image/webp" />
                  <img src="img/services/3.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Распил</a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/4.webp" type="image/webp" />
                  <img src="img/services/4.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Колеровка красок и декоративных штукатурок</a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/5.webp" type="image/webp" />
                  <img src="img/services/5.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Прокат инструмента </a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/6.webp" type="image/webp" />
                  <img src="img/services/6.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Переборка лесопиломатериалов </a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/7.webp" type="image/webp" />
                  <img src="img/services/7.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Расчет материалов </a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/8.webp" type="image/webp" />
                  <img src="img/services/8.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Установка дверей</a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/9.webp" type="image/webp" />
                  <img src="img/services/9.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Помощник по дизайну </a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/10.webp" type="image/webp" />
                  <img src="img/services/10.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Идеи, инструкции, советы </a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
          <li class="services__item">
            <article class="services-card">
              <a class="services-card__top" href="#">
                <picture>
                  <source srcset="img/services/11.webp" type="image/webp" />
                  <img src="img/services/11.jpg" alt="services" />
                </picture>
              </a>
              <div class="services-card__body">
                <h3 class="services-card__title">
                  <a href="#">Укладка напольных покрытий </a>
                </h3>
                <a class="services-card__btn btn" href="#">Подробнее</a>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
