<section class="stock-page">
  <div class="container">
    <div class="stock-page__wrapper">
      <div
        class="stock-page__box"
        style="background-image: url('img/stock-page.jpg')"
      >
        <div class="stock-page__inner">
          <div class="stock-page__badges">
            <div class="badge badge--yellow">-10%</div>
            <div class="badge badge--clock">
              <svg
                width="15"
                height="15"
                viewBox="0 0 15 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.5 13.125C10.6066 13.125 13.125 10.6066 13.125 7.5C13.125 4.3934 10.6066 1.875 7.5 1.875C4.3934 1.875 1.875 4.3934 1.875 7.5C1.875 10.6066 4.3934 13.125 7.5 13.125Z"
                  stroke="#222222"
                  stroke-miterlimit="10"
                />
                <path
                  d="M7.5 7.5H10.7812"
                  stroke="#222222"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.82031 9.82031L7.5 7.5"
                  stroke="#222222"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span>263д</span> : <span>23ч</span> : <span>14м</span>
            </div>
          </div>
          <div class="stock-page__info">
            <h1 class="stock-page__title">
              Скидка на все дрели до конца осени
            </h1>
            <span class="stock-page__date">С 1 сентября до 30 ноября</span>
          </div>
        </div>
      </div>

      <div class="stock-page__text">
        <p>
          Задача организации, в особенности же новая модель организационной
          деятельности позволяет выполнять важные задания по разработке новых
          предложений. Разнообразный и богатый опыт консультация с широким
          активом играет важную роль в формировании дальнейших направлений
          развития. Значимость этих проблем настолько очевидна, что дальнейшее
          развитие различных форм деятельности позволяет выполнять важные
          задания по разработке направлений прогрессивного развития. Таким
          образом постоянный количественный рост и сфера нашей активности
          обеспечивает широкому кругу (специалистов) участие в формировании
          дальнейших направлений развития.
        </p>
        <p>
          Задача организации, в особенности же сложившаяся структура организации
          требуют определения и уточнения систем массового участия. Товарищи!
          постоянный количественный рост и сфера нашей активности представляет
          собой интересный эксперимент проверки дальнейших направлений развития.
          Не следует, однако забывать, что консультация с широким активом
          требуют определения и уточнения форм развития. Таким образом
          укрепление и развитие структуры требуют от нас анализа системы
          обучения кадров, соответствует насущным потребностям. Значимость этих
          проблем настолько очевидна, что укрепление и развитие структуры играет
          важную роль в формировании существенных финансовых и административных
          условий. Не следует, однако забывать, что постоянный количественный
          рост и сфера нашей активности представляет собой интересный
          эксперимент проверки систем массового участия.
        </p>
      </div>
    </div>
  </div>
</section>
