<section class="categories">
  <h1 class="categories__title">Электроинструмент</h1>

  <div class="categories__top">
    <ul class="categories__list">
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/1.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/1.png"
              alt="Ручной инструмен"
            />
          </picture>
          <span class="categories-card__text">Ручной инструмен</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/2.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/2.png"
              alt="Электроинструмент"
            />
          </picture>
          <span class="categories-card__text">Электроинструмент</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/3.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/3.png"
              alt="Расходные материалы к электроинструменту"
            />
          </picture>
          <span class="categories-card__text"
            >Расходные материалы к электроинструменту</span
          >
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/4.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/4.png"
              alt="Абразивные материалы "
            />
          </picture>
          <span class="categories-card__text">Абразивные материалы </span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/5.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/5.png"
              alt="Высотные конструкции"
            />
          </picture>
          <span class="categories-card__text">Высотные конструкции</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/6.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/6.png"
              alt="Высотные конструкции"
            />
          </picture>
          <span class="categories-card__text">Высотные конструкции</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/7.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/7.png"
              alt="Спецодежда и средства защиты"
            />
          </picture>
          <span class="categories-card__text"
            >Спецодежда и средства защиты</span
          >
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/8.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/8.png"
              alt="Бензоинструмент и принадлежности"
            />
          </picture>
          <span class="categories-card__text"
            >Бензоинструмент и принадлежности</span
          >
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/9.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/9.png"
              alt="Газовое и сварочное оборудование"
            />
          </picture>
          <span class="categories-card__text"
            >Газовое и сварочное оборудование</span
          >
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/10.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/10.png"
              alt="Измерительные инструменты"
            />
          </picture>
          <span class="categories-card__text">Измерительные инструменты</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/11.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/11.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text"
            >Силовая, строительная техника и комплектующие</span
          >
        </a>
      </li>
    </ul>
  </div>

  <div class="product-types">
    <div class="product-types__content">
      <div class="product-types__slider">
        <!-- <ul class="product-types__slides">
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">KM</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Makita</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">DeWait</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Bosh</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Metabo</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Einhell</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Интерскол</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Karcher</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Зубр</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Лобзик</button>
          </li>
          <li class="product-types__slide">
            <button class="product-types__btn" type="button">Лобзик</button>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</section>
