<section class="categories">
  <h1 class="categories__title">Дрели и шуруповерты</h1>

  <div class="categories__top">
    <ul class="categories__list">
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/drills/1.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/drills/1.png"
              alt="Ручной инструмен"
            />
          </picture>
          <span class="categories-card__text">Гайковерты и винтоверты</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/drills/2.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/drills/2.png"
              alt="Электроинструмент"
            />
          </picture>
          <span class="categories-card__text">Дрели</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/drills/3.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/drills/3.png"
              alt="Расходные материалы к электроинструменту"
            />
          </picture>
          <span class="categories-card__text"
            >Дрели-шуруповерты</span
          >
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/drills/4.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/drills/4.png"
              alt="Абразивные материалы "
            />
          </picture>
          <span class="categories-card__text">Шуруповерты </span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/drills/5.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/drills/5.png"
              alt="Высотные конструкции"
            />
          </picture>
          <span class="categories-card__text">Аккумуляторные отвертки</span>
        </a>
      </li>
    </ul>
  </div>
</section>
