<section class="categories">
  <h1 class="categories__title">Электроинструмент</h1>

  <div class="categories__top">
    <ul class="categories__list">
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/1.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/1.png"
              alt="Ручной инструмен"
            />
          </picture>
          <span class="categories-card__text">Наборы электроинструмента</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/2.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/2.png"
              alt="Электроинструмент"
            />
          </picture>
          <span class="categories-card__text">Дрели и шуруповерты</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/3.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/3.png"
              alt="Расходные материалы к электроинструменту"
            />
          </picture>
          <span class="categories-card__text"
            >Компрессорное оборудование и аксессуары</span
          >
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/4.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/4.png"
              alt="Абразивные материалы "
            />
          </picture>
          <span class="categories-card__text">Краскопульты </span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/5.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/5.png"
              alt="Высотные конструкции"
            />
          </picture>
          <span class="categories-card__text">Лобзики</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/6.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/6.png"
              alt="Высотные конструкции"
            />
          </picture>
          <span class="categories-card__text">Миксеры</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/7.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/7.png"
              alt="Спецодежда и средства защиты"
            />
          </picture>
          <span class="categories-card__text">Отбойные молотки</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/8.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/8.png"
              alt="Бензоинструмент и принадлежности"
            />
          </picture>
          <span class="categories-card__text">Перфораторы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/9.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/9.png"
              alt="Газовое и сварочное оборудование"
            />
          </picture>
          <span class="categories-card__text">Пилы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/10.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/10.png"
              alt="Измерительные инструменты"
            />
          </picture>
          <span class="categories-card__text">Плиткорезы электрические</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/11.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/11.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Пылесосы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/12.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/12.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Реноваторы</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/13.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/13.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Рубанки</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/14.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/14.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Степлеры электрические</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/15.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/15.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Строительные пистолеты</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/16.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/16.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Точила</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/17.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/17.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Фены строительные</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/18.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/18.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Фрезеры</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/19.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/19.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text"
            >Шлифмашины вибрационные, полировальные</span
          >
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/20.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/20.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Шлифмашины угловые (УШМ)</span>
        </a>
      </li>
      <li class="categories__item">
        <a class="categories-card" href="#">
          <picture>
            <source srcset="img/tools/power-tools/21.webp" type="image/webp" />
            <img
              class="categories-card__image"
              src="img/tools/power-tools/21.png"
              alt="Силовая, строительная техника и комплектующие"
            />
          </picture>
          <span class="categories-card__text">Штроборез (бороздодел)</span>
        </a>
      </li>
    </ul>
  </div>
</section>
