<section class="vacancies">
  <div class="container">
    <h1 class="vacancies__title">Вакансии</h1>

    <div class="vacancies__wrapper">
      <div class="vacancies__top">
        <ul class="vacancies__list">
          <li class="vacancies__item">
            <button class="vacancies__btn btn" type="button">
              Отправить резюме
            </button>
          </li>
          <li class="vacancies__item">
            <span class="vacancies__name">Контактное лицо</span>
            <span>Иванов Иван Ивановч</span>
          </li>
          <li class="vacancies__item">
            <span class="vacancies__name">e-mail</span>
            <a class="vacancies__link" href="mailto:brigabir152@mail.ru ">
              brigabir152@mail.ru
            </a>
          </li>

          <li class="vacancies__item">
            <span class="vacancies__name"> Телефон</span>
            <a class="vacancies__link" href="tel:8 (499) 136-83-33"
              >8 (499) 136-83-33</a
            >
          </li>
        </ul>
        <p class="vacancies__text">
          Мы рады видеть в команде инициативных и вовлеченных сотрудников,
          готовых решать сложные задачи и реализовывать масштабные проекты.
        </p>
      </div>

      <div class="vacancies__content">
        <span class="vacancies__heading">Отдел доставки:</span>

        <div class="vacancies-accordion accordion">
          <button
            class="vacancies-accordion__control accordion-control"
            type="button"
          >
            <span>Курьер - г. Павлово</span>
            Возможно совмещение
          </button>
          <div class="vacancies-accordion__content accordion-content">
            <div>
              Требования к кандидатам: Граждане РФ, имеющие постоянную или
              временную регистрацию в Москве или области Возраст 16-50 лет
              Обязанности: доставка заказов клиентам интернет-магазина
              (документов и стройматериалов) (средний вес товара 15-20 кг)
              доставка только в пределах Москвы, в непосредственной близости от
              метро расчеты с клиентами Требования: желательно знание Москвы
              ответственность, пунктуальность, исполнительность Условия: график
              работы: (плавающий) м. Выставочная Оплата договорная
            </div>
          </div>
        </div>
        <div class="vacancies-accordion accordion">
          <button
            class="vacancies-accordion__control accordion-control"
            type="button"
          >
            <span>Курьер - г. Павлово</span>
            Возможно совмещение
          </button>
          <div class="vacancies-accordion__content accordion-content">
            <div>
              Требования к кандидатам: Граждане РФ, имеющие постоянную или
              временную регистрацию в Москве или области Возраст 16-50 лет
              Обязанности: доставка заказов клиентам интернет-магазина
              (документов и стройматериалов) (средний вес товара 15-20 кг)
              доставка только в пределах Москвы, в непосредственной близости от
              метро расчеты с клиентами Требования: желательно знание Москвы
              ответственность, пунктуальность, исполнительность Условия: график
              работы: (плавающий) м. Выставочная Оплата договорная
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
