<!-- Favicon -->
<link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon" />

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- nouislider -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css"
/>

<!-- Choices JS  -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
/>

<!-- fancybox -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
/>

<!-- Nice Select -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
  integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- Simple Bar -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.3.9/simplebar.min.css"
  integrity="sha512-m+TQwLj4L9dvD524dbvw85WDMEEW93DUXK3eSARQjz+GBjdfR76ahhu212hrK4BDK7yeR8WoDwcb2aXrZuSWUw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- Custom Link -->
<link rel="stylesheet" href="css/style.css" />

<title>Бригадир</title>
